<h1><%= @token.name -%></h1>

<%= form_for @token do |f| %>
  <% if @token.claimant.blank? %>
    <p><%= f.label :claimant, 'Your Name:' -%>
    <%= f.text_field :claimant -%>
    <%= f.hidden_field :lock_version -%>
    <%= submit_tag 'Claim Token' -%></p>
  <% else %>
    <p>Token has been claimed by <%= @token.claimant -%> for about <%= time_ago_in_words(@token.updated_at) -%>.
    <%= f.hidden_field :claimant, :value => '' -%>
    <%= submit_tag 'Release Token' -%></p>
  <% end %>
<% end %>
