<h1><%= @token.name %></h1>

<% if @token.claimed? %>
  <p><%= @token.claimant %> for <%= time_ago_in_words(@token.claimed_at) %> in
  order to "<%= @token.claim_purpose %>".</p>
  <%= button_to 'Release Token', delete_token_request(@token.claimant) %>
<% end %>

<%= form_for @new_token_request, :url => token_requests_path(@token) do |f| %>
  <fieldset>
    <legend>Request Token</legend>
    <% if @new_token_request.errors.any? %>
      <div class="error">
        <p>The token request could not be saved because:</p>
        <ul>
          <% @new_token_request.errors.full_messages.each do |m| %>
            <li><%= m %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div><%= f.label :purpose %> <%= f.text_field :purpose %>
      <%= f.check_box :urgent %> <%= f.label :urgent %>
      <%= submit_tag 'Submit Request' %></div>
  </fieldset>
<% end %>

<% if @token.has_queue? %>
  <h2>Token Queue</h2>
  <ol>
    <% @token.queue.each do |token_request| %>
      <li>
        <p><%= token_request.user_name %> - "<%= token_request.purpose %>",
        <%= time_ago_in_words(token_request.created_at) %></p>
        <p><%= link_to 'Remove', delete_token_request(token_request) %></p>
      </li>
    <% end %>
  </ol>
<% end %>
